* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../media/phone_wallp.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.my_custom_nav
{
    background-color: rgb(39, 65, 237) !important;
    width: 100%;
}

/* Desktop */
@media (min-width: 1025px)
{
    @import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');

    body {
        background-image: linear-gradient(rgb(11, 11, 25), rgb(19, 19, 50), rgb(0, 200, 255));
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        overflow: hidden;
    } 


    #navbar {
        display: flex;
        gap: 25%;
        margin-right: 25%;
        flex-direction: row;
    }

    nav p {
        margin-left: 5%;
        margin-top: 1%;
    }


    nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30%
    }

    nav p, .nav_link {
        color: white;
        font-size: 200%;
        text-decoration: none;
    }

    @keyframes glowing_navbar {
        0% { color: blue }
        100% { color: white}

    }

    .nav_link:hover {
        animation: glowing_navbar 0.5s infinite alternate ease-in-out;
    }
}

.active {
    font-weight: bold;
}