body {
    background-image: linear-gradient(rgb(11, 11, 25), rgb(19, 19, 50), rgb(0, 200, 255));
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}

main {
    border: solid black;
    border-radius: 30px;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 3%;
    margin-top: 3%;
    background-image: url("media/me_ver3_full_background.jpg");
    background-size: 90%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#navbar {
  display: flex;
  gap: 100px;
  margin-right: 10% 
}

nav p, .link {
    color: white;
    font-size: 200%;
    text-decoration: none;
}

nav p {
    margin-left: 5%;
    margin-top: 1%;
}

.clicked {
    color: blue;
}

#greeting h1 {
    color: white;
    font-size: 300%
}

#greeting h2 {
    color: rgb(85, 85, 255);
}

#greeting p {
    color: white;
    margin-right: 50%;
    font-size: 150%;
    margin-top: 3%
}

#greeting {
    margin-left: 5%;
    margin-top: 8%;
}

#my_photo {
    max-width: 30%;
    height: 20%;
    margin-right: 20%;
    border: solid transparent;
    border-radius: 30px;

}

#main_body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%
}

#hire, #contact {
    text-decoration: none;
    border: solid rgb(60, 111, 214);
    color: rgb(60, 111, 214);
    border-radius: 5px;
    font-size: 140%;
    padding: 0.3% 1% 0.3% 1%;
}

#hire_and_contact {
    margin-top: 3%;
    display: flex;
    gap: 3%;
}

#hire:hover, #contact:hover {
    color: black;
    background-color: rgb(77, 148, 255);
}

#main_footer {
    margin-left: 5%;
    margin-top: 7%;
    margin-bottom: 3%
}

.icon {
    width: 3%;
    height: auto;
    border: 3px solid;
    border-radius: 50%;
    box-sizing: border-box;
    margin-right: 2.5%;
    background: black
}

.icon:hover {
    border: transparent
}