body {
    background-image: url("media/phone_wallp.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.my_custom_nav
{
    background-color: rgb(39, 65, 237) !important;
    width: 100% !important
}

.clicked {
    color: blue;
}

#greeting h1 {
    color: white;
    font-size: 250%;
    font-family: monospace;
}

#greeting h2 {
    color: rgb(85, 85, 255);
    font-size: 200%
}

#my_photo_mobile_placeholder img {
    width: 93%;
    margin-top: 5%;
    border: solid transparent;
    border-radius: 2rem;
}


#greeting {
    margin-left: 5%;
    margin-top: 8%;
}

#my_photo {
    max-width: 30%;
    height: 20%;
    margin-right: 5%;
    border: solid transparent;

}

#main_body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%
}



#main_footer {
    margin-left: 5%;
    margin-top: 7%;
    margin-bottom: 3%
}




@media (max-width: 428px)
{
    #greeting p {
    color: white;
    font-size: 150%;
    margin-top: 5%;
    margin-right: 5%;
    border: 0.1rem transparent solid;
    border-radius: 5%;
    padding: 3%;
    background-color: black;
    text-align: center
    }   

    #hire, #contact {
        text-decoration: none;
        border: solid rgb(0, 0, 0);
        color: rgb(0, 0, 0);
        font-size: 140%;
        padding: 0.3% 1% 0.3% 1%;
        border-radius: 1rem;
        background-color: rgb(55, 55, 226);
        padding: 2%
        }

    #hire_and_contact {
        margin-top: 3%;
        display: flex;
        gap: 15%;
        justify-content: center
    }

    #main_footer {
        margin-left: 5%;
    }

    .icon {
        width: 15%;
        height: auto;
        border: 0.2rem solid;
        border-radius: 50%;
        box-sizing: border-box;
        margin-right: 4%;
        background: black
    }

    .icon:hover {
        border: transparent
    }
}

@media (min-width: 1025px)
{

    main {
        border: solid black;
        border-radius: 3rem;
        margin-right: 5%;
        margin-left: 5%;
        margin-bottom: 3%;
        margin-top: 3%;
        background-image: url("media/me_ver3_full_background.jpg");
        background-size: 90%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
    }

    body {
        background-image: linear-gradient(rgb(11, 11, 25), rgb(19, 19, 50), rgb(0, 200, 255));
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    #greeting h1 {
    color: white;
    font-size: 250%;
    font-family: monospace
    }

    #greeting h2 {
    color: rgb(85, 85, 255);
    }

    #greeting p {
        color: white;
        margin-right: 50%;
        font-size: 150%;
        margin-top: 3%
    }

    #navbar {
        display: flex;
        gap: 25%;
        margin-right: 25% 
    }

    nav p {
        margin-left: 5%;
        margin-top: 1%;
    }


    nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30%
    }

    #navbar {
    display: flex;
    flex-direction: row;
    margin-right: 25% 
    }

    nav p, .link {
        color: white;
        font-size: 200%;
        text-decoration: none;
    }


    #hire, #contact {
    text-decoration: none;
    border: solid rgb(60, 111, 214);
    color: rgb(60, 111, 214);
    font-size: 140%;
    padding: 0.3% 1% 0.3% 1%;
    border-radius: 10rem;
    }

    #hire_and_contact {
        margin-top: 3%;
        display: flex;
        gap: 3%;
    }

    #hire:hover, #contact:hover {
        color: black;
        background-color: rgb(77, 148, 255);
    }

    .icon {
    width: 3%;
    height: auto;
    border: 0.2rem solid;
    border-radius: 50%;
    box-sizing: border-box;
    margin-right: 2.5%;
    background: black
}

    .icon:hover {
        border: transparent
    }
}